<!DOCTYPE html>
<html>
<head>
    <title>Phishing URL Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="home-container">
    <div class="navbar">
    <a href="/home">HOME</a>
    <a href="/predict">CHECK URL</a>
    <a href="/history">HISTORY</a>
    <a href="#">ABOUT</a>
</div>
    <div class="home-content">
        <h1>Welcome to Phishing URL Detector</h1>
        <p>Protect yourself from malicious links. Detect phishing URLs instantly with high accuracy using our ML-powered system.</p>

        <div class="home-buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn btn-secondary">Sign Up</a>
            
        </div>
    </div>

</div>

</body>
</html>