<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <h2>Create Account</h2>

    <form method="post"  autocomplete="off">

    <input type="text" name="username"
        placeholder="Username"
        value="{{ username or '' }}"
        autocomplete="off"
        required>

    <input type="password" name="password"
        placeholder="Password"
        autocomplete="off"
        required>

    <input type="email" name="email"
        placeholder="Email"
        value="{{ email or '' }}"
        autocomplete="off"
        required>

    <button type="submit">Sign Up</button>
    </form>

    </div>
</div>

<!-- ALERT BOX -->
<!-- ALERT BOX -->
<div id="customAlert" class="custom-alert" style="display:none; position:fixed; top:20px; right:50px; padding:15px; border-radius:8px; color:white;">
    <span id="alertMsg"></span>
    <br><br>
    <button onclick="closeAlert()">OK</button>
</div>

<script>
function showAlert(message, redirect=false){
    const box = document.getElementById("customAlert");
    const msg = document.getElementById("alertMsg");

    box.style.display = "block";
    msg.innerText = message;

    box.style.background = "#111";  // FORCE BLACK ALWAYS

    box.dataset.redirect = redirect;
}

function closeAlert(){
    const box = document.getElementById("customAlert");
    box.style.display = "none";

    if(box.dataset.redirect === "true"){
        window.location.href = "/login";
    }
}
</script>

{% if errors %}
<script>
showAlert("{{ errors[0] }}");
</script>
{% endif %}

{% if exists %}
<script>
showAlert("Username already exists!");
</script>
{% endif %}

{% if success %}
<script>
document.querySelector("form").reset();
showAlert("Account created successfully!", true);
</script>
{% endif %}